@tailwind base;
@tailwind components;
@tailwind utilities;


.squiggle {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: draw 5s linear infinite;
}

.squiggle:hover {
  animation: draw 5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 40;
  }
}

.squiggle2 {
  stroke-dasharray: 950;
  stroke-dashoffset: 950;
  animation: draw 5s linear infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 10;
  }
}

svg {
  width: 10vw;
}
